body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.topHeader {
  background-color: #ADD8E6;
  text-indent: 2em
}

#ToDoProjectsContainer {
  border: dashed;
  background-color: #FF1212
}

#InProgressProjectsContainer {
  border: dashed;
  background-color: #1A12FF
}

#CompletedProjectsContainer {
  border: dashed;
  background-color: #22FF12
}

.column {
  top: 20px
}
