body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.topHeader {
  background-color: #ADD8E6;
  text-indent: 2em
}

#ToDoProjectsContainer {
  /* border: dashed; */
  background-color: #FF1212;

  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1rem;
  box-shadow: 10px -10px 10px #000000;
  height: 100%;
}

#InProgressProjectsContainer {
  /* border: dashed; */
  background-color: #22FF12;

  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px -10px 10px #530258;
  height: 100%;
}

#CompletedProjectsContainer {
  /* border: dashed; */

  background-color: #1A12FF;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1rem;
  box-shadow: 10px -10px 10px #fd6400;
  height: 100%;
}

.column {
  margin-right: 1%;
  margin-top: 5%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.verticallyCenter {
  top: 50%;
  transform: translateY(50%);
  /* border: dashed; */
}

.verticallyCenter form {
  line-height: 1.5;
}

.FilteredMultiSelect__filter {
  display: block;
  width: 200%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem
}

.FilteredMultiSelect__select {
  display: block;
  width: 200%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem
}

.FilteredMultiSelect__button {
  width: 200%;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem
}

.content.task {
  max-width: 100%;
  overflow: hidden
}

#ToDoProjectsContainer .ui.middle.celled.relaxed.aligned.divided.list.project {
  /* border: 5px solid rgba(255,255,255,.9); */
  margin-bottom: 3%;
  background-image: none;
  background-clip: padding-box;
  border: 3px solid black;
  border-radius: 1rem;
  background-color: white;
  color: black
}

#ToDoProjectsContainer .ui.middle.celled.relaxed.aligned.divided.list.task {
  border: 3px solid black;
  border-radius: 1rem;
  color: black;
  margin-bottom: 5%;
  background-color: #a51077b5
}

#InProgressProjectsContainer .ui.middle.celled.relaxed.aligned.divided.list.project {
  /* border: 5px solid rgba(255,255,255,.9); */
  margin-bottom: 3%;
  background-image: none;
  background-clip: padding-box;
  border: 3px solid #b3049ee3;
  border-radius: 1rem;
  background-color: white;
  color: black
}

#InProgressProjectsContainer .ui.middle.celled.relaxed.aligned.divided.list.task {
  border: 3px solid #b3049ee3;
  border-radius: 1rem;
  color: black;
  margin-bottom: 5%;
  background-color: #acd7e6;
}

#CompletedProjectsContainer .ui.middle.celled.relaxed.aligned.divided.list.project {
  /* border: 5px solid rgba(255,255,255,.9); */
  margin-bottom: 3%;
  background-image: none;
  background-clip: padding-box;
  border: 3px solid #ef6837;
  border-radius: 1rem;
  background-color: white;
  color: black
}

#CompletedProjectsContainer .ui.middle.celled.relaxed.aligned.divided.list.task {
  border: 3px solid #ef6837;
  border-radius: 1rem;
  color: black;
  margin-bottom: 5%;
  background-color: #fff7007a;
}

.top.container.header {
  width: 70%;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: 1px solid;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-bottom: 5px
}

/* .active, .collapsible.button:hover {
  background-color: #ccc;
} */

.collapsible-content {
  padding: 0 18px;
  overflow: hidden;
  transition: 1s ease-out
}

.plus-or-minus {
  color: black;
  float: right;
  font-size: 13px;
  font-weight: 900
}

.compact.ui.icon.button.hidden {
  opacity: 0;
  cursor: default;
}

.ui.active.indicating.progress {
  border: 1px solid black
}

.compact.ui.button.logout {
  margin-left: 2%;
  transform: scale(1.2, 1.2)
}
