body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.topHeader {
  background-color: #ADD8E6;
  text-indent: 2em
}

#ToDoProjectsContainer {
  border: dashed;
  background-color: #FF1212
}

#InProgressProjectsContainer {
  border: dashed;
  background-color: #22FF12

}

#CompletedProjectsContainer {
  border: dashed;
  background-color: #1A12FF
}

.column {
  top: 20px;
  margin-right: 1%;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.verticallyCenter {
  top: 50%;
  transform: translateY(50%);
  /* border: dashed; */
}

.verticallyCenter form {
  line-height: 1.5;
}

.FilteredMultiSelect__filter {
  display: block;
  width: 200%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem
}

.FilteredMultiSelect__select {
  display: block;
  width: 200%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem
}

.task {
  max-width: 100%;
  overflow: hidden
}

.ui.middle.celled.relaxed.aligned.divided.list.project {
  border-bottom: 5px solid rgba(255,255,255,.9)
}
